body {
	font-family: Helvetica Neue;
	color: #333;
	margin: 0;
	padding: 0;
}

a {
	color: #444;
}

h1 {
	font-size: 24px;
	margin: -4px 0 0 20px;
	color: #222;
}

h2 {
	font-weight: normal;
	font-size: 20px;
	margin: 0;
	text-decoration: underline;
}

p {
	line-height: 28px;
}

#logo {
	font-family: helvetica Neue;
	font-size: 85px;
	line-height: 75px;
	width: 500px;
	margin: auto;
	vertical-align: auto;
	color: white;
}


.header {
	background-color: #222;
	padding: 200px 0 250px;
	margin-bottom: 30px;
}

.social {
	position: absolute;
	top: 50px;
	right: 60px;
}

.social > img {
	margin-left: 10px;
}

.zone {
	margin-top: 20px;
	overflow: hidden;
	padding: 50px 0;
}

.container {
	max-width: 1000px;
	margin: auto;
}

.greybg {
	background-color: #EFEFEF;
}

.leftbar {
	width: 250px;
	height: 100%;
	position: absolute;
}

.box50 {
	width: 50%;
	float: left;
}

.box50 > p {
	margin-right: 80px;
}

.content {
	margin-left: 250px;
}

.participant {
	width: 150px;
	float: left;
	text-align: center;
	margin-bottom: 20px;
}

.participant > img {
	width: 100px;
	border-radius: 50px;
}