body {
	width: 1000px;
	margin: auto;
	position: relative;
	font-family: Helvetica;
}

header {
	background-color: #FF7A00;
	height: 120px;
	margin: 0;
}

aside {
	background-color: #03899C;
	width: 250px;
	height: 600px;
	margin: 0;
	float: left;
}

article {
	background-color: #FFAE00;
	height: 600px;
	width: 750px;
	float: right;

}

footer {
	background-color: #FF1300;
	height: 120px;
	width: 1000px;
	clear: both;
}

p {
	margin: 0;
}

li {
	list-style-type: none;
	margin: 0;
}

header > h1, footer > p {
	margin: 0;
	padding-top: 30px;
	text-align: center;
}

table {
	border: 2px solid black;
	margin: auto;
	background-color: white;
	width: 400px;
}

td, th {
	padding: 0;
	border: 1px solid grey;
}

span {
	background-color: #FF7A00;
}

img {
	width: 400px;
	height: 400px;
	margin: 20px;
}

.picture {
	text-align: center;
	position: relative;

}

.label {
	background-color: black;
	padding: 0 10px;
	position: absolute;
	bottom: 50px;
	left: 175px;
	color: white;
	font-size: 14px;
}